/*
 * Cobo Wallet as a Service 2.0
 *
 * Contact: help@cobo.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.cobo.waas2.api;

import com.cobo.waas2.ApiCallback;
import com.cobo.waas2.ApiClient;
import com.cobo.waas2.ApiException;
import com.cobo.waas2.ApiResponse;
import com.cobo.waas2.Configuration;
import com.cobo.waas2.Pair;
import com.cobo.waas2.ProgressRequestBody;
import com.cobo.waas2.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.cobo.waas2.model.CreateSweepToAddress;
import com.cobo.waas2.model.ErrorResponse;
import com.cobo.waas2.model.ListWalletSweepToAddresses200Response;
import com.cobo.waas2.model.SweepToAddress;
import java.util.UUID;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AutoSweepApi {
    private ApiClient localVarApiClient;

    public AutoSweepApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AutoSweepApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for createWalletSweepToAddresses
     * @param createSweepToAddress The request body to generates a new sweep to addresses within a specified wallet. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Successfully create sweep to addresses </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createWalletSweepToAddressesCall(CreateSweepToAddress createSweepToAddress, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = createSweepToAddress;

        // create path and map variables
        String localVarPath = "/auto_sweep/sweep_to_addresses";

        List<Pair> localVarQueryParams = new ArrayList<>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<>();
        Map<String, String> localVarHeaderParams = new HashMap<>();
        Map<String, String> localVarCookieParams = new HashMap<>();
        Map<String, Object> localVarFormParams = new HashMap<>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        if (localVarContentType != null) {
            localVarHeaderParams.put("Content-Type", localVarContentType);
        }

        String[] localVarAuthNames = new String[] {};
        return localVarApiClient.buildCall(null, localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call createWalletSweepToAddressesValidateBeforeCall(CreateSweepToAddress createSweepToAddress, final ApiCallback _callback) throws ApiException {
        return createWalletSweepToAddressesCall(createSweepToAddress, _callback);

    }

    /**
     * create wallet sweep to addresses
     * This operation create a new sweep to address for the wallet. The old sweep to address will become invalid. 
     * @param createSweepToAddress The request body to generates a new sweep to addresses within a specified wallet. (optional)
     * @return SweepToAddress
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Successfully create sweep to addresses </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public SweepToAddress createWalletSweepToAddresses(CreateSweepToAddress createSweepToAddress) throws ApiException {
        ApiResponse<SweepToAddress> localVarResp = createWalletSweepToAddressesWithHttpInfo(createSweepToAddress);
        return localVarResp.getData();
    }

    /**
     * create wallet sweep to addresses
     * This operation create a new sweep to address for the wallet. The old sweep to address will become invalid. 
     * @param createSweepToAddress The request body to generates a new sweep to addresses within a specified wallet. (optional)
     * @return ApiResponse&lt;SweepToAddress&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Successfully create sweep to addresses </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<SweepToAddress> createWalletSweepToAddressesWithHttpInfo(CreateSweepToAddress createSweepToAddress) throws ApiException {
        okhttp3.Call localVarCall = createWalletSweepToAddressesValidateBeforeCall(createSweepToAddress, null);
        Type localVarReturnType = new TypeToken<SweepToAddress>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * create wallet sweep to addresses (asynchronously)
     * This operation create a new sweep to address for the wallet. The old sweep to address will become invalid. 
     * @param createSweepToAddress The request body to generates a new sweep to addresses within a specified wallet. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Successfully create sweep to addresses </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call createWalletSweepToAddressesAsync(CreateSweepToAddress createSweepToAddress, final ApiCallback<SweepToAddress> _callback) throws ApiException {

        okhttp3.Call localVarCall = createWalletSweepToAddressesValidateBeforeCall(createSweepToAddress, _callback);
        Type localVarReturnType = new TypeToken<SweepToAddress>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for listWalletSweepToAddresses
     * @param walletId The wallet ID. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully listed sweep to addresses </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listWalletSweepToAddressesCall(UUID walletId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/auto_sweep/sweep_to_addresses";

        List<Pair> localVarQueryParams = new ArrayList<>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<>();
        Map<String, String> localVarHeaderParams = new HashMap<>();
        Map<String, String> localVarCookieParams = new HashMap<>();
        Map<String, Object> localVarFormParams = new HashMap<>();

        if (walletId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("wallet_id", walletId));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        if (localVarContentType != null) {
            localVarHeaderParams.put("Content-Type", localVarContentType);
        }

        String[] localVarAuthNames = new String[] {};
        return localVarApiClient.buildCall(null, localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listWalletSweepToAddressesValidateBeforeCall(UUID walletId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'walletId' is set
        if (walletId == null) {
            throw new ApiException("Missing the required parameter 'walletId' when calling listWalletSweepToAddresses(Async)");
        }

        return listWalletSweepToAddressesCall(walletId, _callback);

    }

    /**
     * List wallet sweep to addresses
     * This operation retrieves a list of sweep to addresses within your wallet. 
     * @param walletId The wallet ID. (required)
     * @return ListWalletSweepToAddresses200Response
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully listed sweep to addresses </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ListWalletSweepToAddresses200Response listWalletSweepToAddresses(UUID walletId) throws ApiException {
        ApiResponse<ListWalletSweepToAddresses200Response> localVarResp = listWalletSweepToAddressesWithHttpInfo(walletId);
        return localVarResp.getData();
    }

    /**
     * List wallet sweep to addresses
     * This operation retrieves a list of sweep to addresses within your wallet. 
     * @param walletId The wallet ID. (required)
     * @return ApiResponse&lt;ListWalletSweepToAddresses200Response&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully listed sweep to addresses </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ListWalletSweepToAddresses200Response> listWalletSweepToAddressesWithHttpInfo(UUID walletId) throws ApiException {
        okhttp3.Call localVarCall = listWalletSweepToAddressesValidateBeforeCall(walletId, null);
        Type localVarReturnType = new TypeToken<ListWalletSweepToAddresses200Response>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * List wallet sweep to addresses (asynchronously)
     * This operation retrieves a list of sweep to addresses within your wallet. 
     * @param walletId The wallet ID. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successfully listed sweep to addresses </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listWalletSweepToAddressesAsync(UUID walletId, final ApiCallback<ListWalletSweepToAddresses200Response> _callback) throws ApiException {

        okhttp3.Call localVarCall = listWalletSweepToAddressesValidateBeforeCall(walletId, _callback);
        Type localVarReturnType = new TypeToken<ListWalletSweepToAddresses200Response>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
