/*
 * Cobo Wallet as a Service 2.0
 *
 * Contact: help@cobo.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.cobo.waas2.api;

import com.cobo.waas2.ApiCallback;
import com.cobo.waas2.ApiClient;
import com.cobo.waas2.ApiException;
import com.cobo.waas2.ApiResponse;
import com.cobo.waas2.Configuration;
import com.cobo.waas2.Pair;
import com.cobo.waas2.ProgressRequestBody;
import com.cobo.waas2.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.cobo.waas2.model.AddCoboPaidTokenRequest;
import com.cobo.waas2.model.ChargeCommissionFee201Response;
import com.cobo.waas2.model.ChargeCommissionFeeRequest;
import com.cobo.waas2.model.CommissionFeeDetail;
import com.cobo.waas2.model.ErrorResponse;
import com.cobo.waas2.model.FeeStationDetail;
import com.cobo.waas2.model.FeeStationSystemConf;
import com.cobo.waas2.model.ListFeeStationUnifiedTransactions200Response;
import com.cobo.waas2.model.RefundCommissionFee201Response;
import com.cobo.waas2.model.RefundCommissionFeeRequest;
import com.cobo.waas2.model.UpdateFeeStationConfigRequest;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class InternalFeeStationApi {
    private ApiClient localVarApiClient;

    public InternalFeeStationApi() {
        this(Configuration.getDefaultApiClient());
    }

    public InternalFeeStationApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for addCoboPaidToken
     * @param addCoboPaidTokenRequest The request body to append Cobo-paid tokens to the organization&#39;s Fee Station configuration. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call addCoboPaidTokenCall(AddCoboPaidTokenRequest addCoboPaidTokenRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = addCoboPaidTokenRequest;

        // create path and map variables
        String localVarPath = "/internal/fee_station/add_cobo_paid_token";

        List<Pair> localVarQueryParams = new ArrayList<>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<>();
        Map<String, String> localVarHeaderParams = new HashMap<>();
        Map<String, String> localVarCookieParams = new HashMap<>();
        Map<String, Object> localVarFormParams = new HashMap<>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        if (localVarContentType != null) {
            localVarHeaderParams.put("Content-Type", localVarContentType);
        }

        String[] localVarAuthNames = new String[] {};
        return localVarApiClient.buildCall(null, localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call addCoboPaidTokenValidateBeforeCall(AddCoboPaidTokenRequest addCoboPaidTokenRequest, final ApiCallback _callback) throws ApiException {
        return addCoboPaidTokenCall(addCoboPaidTokenRequest, _callback);

    }

    /**
     * Append Cobo-paid tokens
     * This operation appends one or more tokens to the organization&#39;s Cobo-paid token list in the Fee Station configuration.  Each token ID provided in the request must be supported by the gas station configuration. Tokens already present in the configuration are ignored. 
     * @param addCoboPaidTokenRequest The request body to append Cobo-paid tokens to the organization&#39;s Fee Station configuration. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public void addCoboPaidToken(AddCoboPaidTokenRequest addCoboPaidTokenRequest) throws ApiException {
        addCoboPaidTokenWithHttpInfo(addCoboPaidTokenRequest);
    }

    /**
     * Append Cobo-paid tokens
     * This operation appends one or more tokens to the organization&#39;s Cobo-paid token list in the Fee Station configuration.  Each token ID provided in the request must be supported by the gas station configuration. Tokens already present in the configuration are ignored. 
     * @param addCoboPaidTokenRequest The request body to append Cobo-paid tokens to the organization&#39;s Fee Station configuration. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> addCoboPaidTokenWithHttpInfo(AddCoboPaidTokenRequest addCoboPaidTokenRequest) throws ApiException {
        okhttp3.Call localVarCall = addCoboPaidTokenValidateBeforeCall(addCoboPaidTokenRequest, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Append Cobo-paid tokens (asynchronously)
     * This operation appends one or more tokens to the organization&#39;s Cobo-paid token list in the Fee Station configuration.  Each token ID provided in the request must be supported by the gas station configuration. Tokens already present in the configuration are ignored. 
     * @param addCoboPaidTokenRequest The request body to append Cobo-paid tokens to the organization&#39;s Fee Station configuration. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call addCoboPaidTokenAsync(AddCoboPaidTokenRequest addCoboPaidTokenRequest, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = addCoboPaidTokenValidateBeforeCall(addCoboPaidTokenRequest, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for chargeCommissionFee
     * @param chargeCommissionFeeRequest The request body to charge commission fee (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call chargeCommissionFeeCall(ChargeCommissionFeeRequest chargeCommissionFeeRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = chargeCommissionFeeRequest;

        // create path and map variables
        String localVarPath = "/internal/fee_station/charge_commission_fee";

        List<Pair> localVarQueryParams = new ArrayList<>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<>();
        Map<String, String> localVarHeaderParams = new HashMap<>();
        Map<String, String> localVarCookieParams = new HashMap<>();
        Map<String, Object> localVarFormParams = new HashMap<>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        if (localVarContentType != null) {
            localVarHeaderParams.put("Content-Type", localVarContentType);
        }

        String[] localVarAuthNames = new String[] {};
        return localVarApiClient.buildCall(null, localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call chargeCommissionFeeValidateBeforeCall(ChargeCommissionFeeRequest chargeCommissionFeeRequest, final ApiCallback _callback) throws ApiException {
        return chargeCommissionFeeCall(chargeCommissionFeeRequest, _callback);

    }

    /**
     * Charge commission fee
     * This operation charge commission fee. 
     * @param chargeCommissionFeeRequest The request body to charge commission fee (optional)
     * @return ChargeCommissionFee201Response
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ChargeCommissionFee201Response chargeCommissionFee(ChargeCommissionFeeRequest chargeCommissionFeeRequest) throws ApiException {
        ApiResponse<ChargeCommissionFee201Response> localVarResp = chargeCommissionFeeWithHttpInfo(chargeCommissionFeeRequest);
        return localVarResp.getData();
    }

    /**
     * Charge commission fee
     * This operation charge commission fee. 
     * @param chargeCommissionFeeRequest The request body to charge commission fee (optional)
     * @return ApiResponse&lt;ChargeCommissionFee201Response&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ChargeCommissionFee201Response> chargeCommissionFeeWithHttpInfo(ChargeCommissionFeeRequest chargeCommissionFeeRequest) throws ApiException {
        okhttp3.Call localVarCall = chargeCommissionFeeValidateBeforeCall(chargeCommissionFeeRequest, null);
        Type localVarReturnType = new TypeToken<ChargeCommissionFee201Response>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Charge commission fee (asynchronously)
     * This operation charge commission fee. 
     * @param chargeCommissionFeeRequest The request body to charge commission fee (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call chargeCommissionFeeAsync(ChargeCommissionFeeRequest chargeCommissionFeeRequest, final ApiCallback<ChargeCommissionFee201Response> _callback) throws ApiException {

        okhttp3.Call localVarCall = chargeCommissionFeeValidateBeforeCall(chargeCommissionFeeRequest, _callback);
        Type localVarReturnType = new TypeToken<ChargeCommissionFee201Response>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getCommissionFeeByRequestId
     * @param requestId The commission fee request ID used when charging the commission fee. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The commission fee detail. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCommissionFeeByRequestIdCall(String requestId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/internal/fee_station/commission_fee";

        List<Pair> localVarQueryParams = new ArrayList<>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<>();
        Map<String, String> localVarHeaderParams = new HashMap<>();
        Map<String, String> localVarCookieParams = new HashMap<>();
        Map<String, Object> localVarFormParams = new HashMap<>();

        if (requestId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("request_id", requestId));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        if (localVarContentType != null) {
            localVarHeaderParams.put("Content-Type", localVarContentType);
        }

        String[] localVarAuthNames = new String[] {};
        return localVarApiClient.buildCall(null, localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getCommissionFeeByRequestIdValidateBeforeCall(String requestId, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'requestId' is set
        if (requestId == null) {
            throw new ApiException("Missing the required parameter 'requestId' when calling getCommissionFeeByRequestId(Async)");
        }

        return getCommissionFeeByRequestIdCall(requestId, _callback);

    }

    /**
     * Get commission fee by request ID
     * This operation retrieves the commission fee detail by the commission fee request ID used when charging the commission fee. 
     * @param requestId The commission fee request ID used when charging the commission fee. (required)
     * @return CommissionFeeDetail
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The commission fee detail. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public CommissionFeeDetail getCommissionFeeByRequestId(String requestId) throws ApiException {
        ApiResponse<CommissionFeeDetail> localVarResp = getCommissionFeeByRequestIdWithHttpInfo(requestId);
        return localVarResp.getData();
    }

    /**
     * Get commission fee by request ID
     * This operation retrieves the commission fee detail by the commission fee request ID used when charging the commission fee. 
     * @param requestId The commission fee request ID used when charging the commission fee. (required)
     * @return ApiResponse&lt;CommissionFeeDetail&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The commission fee detail. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CommissionFeeDetail> getCommissionFeeByRequestIdWithHttpInfo(String requestId) throws ApiException {
        okhttp3.Call localVarCall = getCommissionFeeByRequestIdValidateBeforeCall(requestId, null);
        Type localVarReturnType = new TypeToken<CommissionFeeDetail>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get commission fee by request ID (asynchronously)
     * This operation retrieves the commission fee detail by the commission fee request ID used when charging the commission fee. 
     * @param requestId The commission fee request ID used when charging the commission fee. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The commission fee detail. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getCommissionFeeByRequestIdAsync(String requestId, final ApiCallback<CommissionFeeDetail> _callback) throws ApiException {

        okhttp3.Call localVarCall = getCommissionFeeByRequestIdValidateBeforeCall(requestId, _callback);
        Type localVarReturnType = new TypeToken<CommissionFeeDetail>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getFeeStationDetail
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getFeeStationDetailCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/internal/fee_station";

        List<Pair> localVarQueryParams = new ArrayList<>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<>();
        Map<String, String> localVarHeaderParams = new HashMap<>();
        Map<String, String> localVarCookieParams = new HashMap<>();
        Map<String, Object> localVarFormParams = new HashMap<>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        if (localVarContentType != null) {
            localVarHeaderParams.put("Content-Type", localVarContentType);
        }

        String[] localVarAuthNames = new String[] {};
        return localVarApiClient.buildCall(null, localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getFeeStationDetailValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        return getFeeStationDetailCall(_callback);

    }

    /**
     * Get FeeStation Detail
     * This operation get fee station detail. 
     * @return FeeStationDetail
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public FeeStationDetail getFeeStationDetail() throws ApiException {
        ApiResponse<FeeStationDetail> localVarResp = getFeeStationDetailWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get FeeStation Detail
     * This operation get fee station detail. 
     * @return ApiResponse&lt;FeeStationDetail&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<FeeStationDetail> getFeeStationDetailWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getFeeStationDetailValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<FeeStationDetail>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get FeeStation Detail (asynchronously)
     * This operation get fee station detail. 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getFeeStationDetailAsync(final ApiCallback<FeeStationDetail> _callback) throws ApiException {

        okhttp3.Call localVarCall = getFeeStationDetailValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<FeeStationDetail>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getFeeStationSystemConf
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getFeeStationSystemConfCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/internal/fee_station/system_conf";

        List<Pair> localVarQueryParams = new ArrayList<>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<>();
        Map<String, String> localVarHeaderParams = new HashMap<>();
        Map<String, String> localVarCookieParams = new HashMap<>();
        Map<String, Object> localVarFormParams = new HashMap<>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        if (localVarContentType != null) {
            localVarHeaderParams.put("Content-Type", localVarContentType);
        }

        String[] localVarAuthNames = new String[] {};
        return localVarApiClient.buildCall(null, localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getFeeStationSystemConfValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        return getFeeStationSystemConfCall(_callback);

    }

    /**
     * Get FeeStation System Config
     * This operation get fee station detail. 
     * @return FeeStationSystemConf
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public FeeStationSystemConf getFeeStationSystemConf() throws ApiException {
        ApiResponse<FeeStationSystemConf> localVarResp = getFeeStationSystemConfWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Get FeeStation System Config
     * This operation get fee station detail. 
     * @return ApiResponse&lt;FeeStationSystemConf&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<FeeStationSystemConf> getFeeStationSystemConfWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getFeeStationSystemConfValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<FeeStationSystemConf>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get FeeStation System Config (asynchronously)
     * This operation get fee station detail. 
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getFeeStationSystemConfAsync(final ApiCallback<FeeStationSystemConf> _callback) throws ApiException {

        okhttp3.Call localVarCall = getFeeStationSystemConfValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<FeeStationSystemConf>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for listFeeStationUnifiedTransactions
     * @param type The unified transaction type. Possible values include:   - &#x60;1&#x60;: Deposit transaction.   - &#x60;2&#x60;: Payment transaction.  (optional)
     * @param subtypes A list of unified transaction subtypes, separated by comma. See the &#x60;FeeStationUnifiedTransactionSubtype&#x60; schema for the list of valid values.  (optional)
     * @param transactionId The unique identifier of a unified transaction. Use this to look up a specific transaction. (optional)
     * @param startAt Filter unified transactions whose tx_time is on or after the given Unix timestamp (in seconds). (optional)
     * @param endAt Filter unified transactions whose tx_time is before the given Unix timestamp (in seconds). (optional)
     * @param before This parameter specifies an object ID as a starting point for pagination, retrieving data before the specified object relative to the current dataset.    Suppose the current data is ordered as Object A, Object B, and Object C.  If you set &#x60;before&#x60; to the ID of Object C (&#x60;RqeEoTkgKG5rpzqYzg2Hd3szmPoj2cE7w5jWwShz3C1vyGSAk&#x60;), the response will include Object B and Object A.    **Notes**:   - If you set both &#x60;after&#x60; and &#x60;before&#x60;, an error will occur. - If you leave both &#x60;before&#x60; and &#x60;after&#x60; empty, the first page of data is returned. - If you set it to &#x60;infinity&#x60;, the last page of data is returned.  (optional)
     * @param after This parameter specifies an object ID as a starting point for pagination, retrieving data after the specified object relative to the current dataset.    Suppose the current data is ordered as Object A, Object B, and Object C. If you set &#x60;after&#x60; to the ID of Object A (&#x60;RqeEoTkgKG5rpzqYzg2Hd3szmPoj2cE7w5jWwShz3C1vyGSAk&#x60;), the response will include Object B and Object C.    **Notes**:   - If you set both &#x60;after&#x60; and &#x60;before&#x60;, an error will occur. - If you leave both &#x60;before&#x60; and &#x60;after&#x60; empty, the first page of data is returned.  (optional)
     * @param limit The maximum number of objects to return. For most operations, the value range is [1, 50]. (optional, default to 10)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The information about the fee station unified transactions. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listFeeStationUnifiedTransactionsCall(Integer type, String subtypes, String transactionId, String startAt, String endAt, String before, String after, Integer limit, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/internal/fee_station/unified_transactions";

        List<Pair> localVarQueryParams = new ArrayList<>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<>();
        Map<String, String> localVarHeaderParams = new HashMap<>();
        Map<String, String> localVarCookieParams = new HashMap<>();
        Map<String, Object> localVarFormParams = new HashMap<>();

        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        if (subtypes != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("subtypes", subtypes));
        }

        if (transactionId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("transaction_id", transactionId));
        }

        if (startAt != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("start_at", startAt));
        }

        if (endAt != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("end_at", endAt));
        }

        if (before != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("before", before));
        }

        if (after != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("after", after));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        if (localVarContentType != null) {
            localVarHeaderParams.put("Content-Type", localVarContentType);
        }

        String[] localVarAuthNames = new String[] {};
        return localVarApiClient.buildCall(null, localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listFeeStationUnifiedTransactionsValidateBeforeCall(Integer type, String subtypes, String transactionId, String startAt, String endAt, String before, String after, Integer limit, final ApiCallback _callback) throws ApiException {
        return listFeeStationUnifiedTransactionsCall(type, subtypes, transactionId, startAt, endAt, before, after, limit, _callback);

    }

    /**
     * List fee station unified transactions
     * This operation retrieves all Fee Station unified transactions under your organization.  You can filter the results by transaction id, type, subtypes, and tx_time. Results are paginated using cursor-based pagination. 
     * @param type The unified transaction type. Possible values include:   - &#x60;1&#x60;: Deposit transaction.   - &#x60;2&#x60;: Payment transaction.  (optional)
     * @param subtypes A list of unified transaction subtypes, separated by comma. See the &#x60;FeeStationUnifiedTransactionSubtype&#x60; schema for the list of valid values.  (optional)
     * @param transactionId The unique identifier of a unified transaction. Use this to look up a specific transaction. (optional)
     * @param startAt Filter unified transactions whose tx_time is on or after the given Unix timestamp (in seconds). (optional)
     * @param endAt Filter unified transactions whose tx_time is before the given Unix timestamp (in seconds). (optional)
     * @param before This parameter specifies an object ID as a starting point for pagination, retrieving data before the specified object relative to the current dataset.    Suppose the current data is ordered as Object A, Object B, and Object C.  If you set &#x60;before&#x60; to the ID of Object C (&#x60;RqeEoTkgKG5rpzqYzg2Hd3szmPoj2cE7w5jWwShz3C1vyGSAk&#x60;), the response will include Object B and Object A.    **Notes**:   - If you set both &#x60;after&#x60; and &#x60;before&#x60;, an error will occur. - If you leave both &#x60;before&#x60; and &#x60;after&#x60; empty, the first page of data is returned. - If you set it to &#x60;infinity&#x60;, the last page of data is returned.  (optional)
     * @param after This parameter specifies an object ID as a starting point for pagination, retrieving data after the specified object relative to the current dataset.    Suppose the current data is ordered as Object A, Object B, and Object C. If you set &#x60;after&#x60; to the ID of Object A (&#x60;RqeEoTkgKG5rpzqYzg2Hd3szmPoj2cE7w5jWwShz3C1vyGSAk&#x60;), the response will include Object B and Object C.    **Notes**:   - If you set both &#x60;after&#x60; and &#x60;before&#x60;, an error will occur. - If you leave both &#x60;before&#x60; and &#x60;after&#x60; empty, the first page of data is returned.  (optional)
     * @param limit The maximum number of objects to return. For most operations, the value range is [1, 50]. (optional, default to 10)
     * @return ListFeeStationUnifiedTransactions200Response
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The information about the fee station unified transactions. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ListFeeStationUnifiedTransactions200Response listFeeStationUnifiedTransactions(Integer type, String subtypes, String transactionId, String startAt, String endAt, String before, String after, Integer limit) throws ApiException {
        ApiResponse<ListFeeStationUnifiedTransactions200Response> localVarResp = listFeeStationUnifiedTransactionsWithHttpInfo(type, subtypes, transactionId, startAt, endAt, before, after, limit);
        return localVarResp.getData();
    }

    /**
     * List fee station unified transactions
     * This operation retrieves all Fee Station unified transactions under your organization.  You can filter the results by transaction id, type, subtypes, and tx_time. Results are paginated using cursor-based pagination. 
     * @param type The unified transaction type. Possible values include:   - &#x60;1&#x60;: Deposit transaction.   - &#x60;2&#x60;: Payment transaction.  (optional)
     * @param subtypes A list of unified transaction subtypes, separated by comma. See the &#x60;FeeStationUnifiedTransactionSubtype&#x60; schema for the list of valid values.  (optional)
     * @param transactionId The unique identifier of a unified transaction. Use this to look up a specific transaction. (optional)
     * @param startAt Filter unified transactions whose tx_time is on or after the given Unix timestamp (in seconds). (optional)
     * @param endAt Filter unified transactions whose tx_time is before the given Unix timestamp (in seconds). (optional)
     * @param before This parameter specifies an object ID as a starting point for pagination, retrieving data before the specified object relative to the current dataset.    Suppose the current data is ordered as Object A, Object B, and Object C.  If you set &#x60;before&#x60; to the ID of Object C (&#x60;RqeEoTkgKG5rpzqYzg2Hd3szmPoj2cE7w5jWwShz3C1vyGSAk&#x60;), the response will include Object B and Object A.    **Notes**:   - If you set both &#x60;after&#x60; and &#x60;before&#x60;, an error will occur. - If you leave both &#x60;before&#x60; and &#x60;after&#x60; empty, the first page of data is returned. - If you set it to &#x60;infinity&#x60;, the last page of data is returned.  (optional)
     * @param after This parameter specifies an object ID as a starting point for pagination, retrieving data after the specified object relative to the current dataset.    Suppose the current data is ordered as Object A, Object B, and Object C. If you set &#x60;after&#x60; to the ID of Object A (&#x60;RqeEoTkgKG5rpzqYzg2Hd3szmPoj2cE7w5jWwShz3C1vyGSAk&#x60;), the response will include Object B and Object C.    **Notes**:   - If you set both &#x60;after&#x60; and &#x60;before&#x60;, an error will occur. - If you leave both &#x60;before&#x60; and &#x60;after&#x60; empty, the first page of data is returned.  (optional)
     * @param limit The maximum number of objects to return. For most operations, the value range is [1, 50]. (optional, default to 10)
     * @return ApiResponse&lt;ListFeeStationUnifiedTransactions200Response&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The information about the fee station unified transactions. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ListFeeStationUnifiedTransactions200Response> listFeeStationUnifiedTransactionsWithHttpInfo(Integer type, String subtypes, String transactionId, String startAt, String endAt, String before, String after, Integer limit) throws ApiException {
        okhttp3.Call localVarCall = listFeeStationUnifiedTransactionsValidateBeforeCall(type, subtypes, transactionId, startAt, endAt, before, after, limit, null);
        Type localVarReturnType = new TypeToken<ListFeeStationUnifiedTransactions200Response>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * List fee station unified transactions (asynchronously)
     * This operation retrieves all Fee Station unified transactions under your organization.  You can filter the results by transaction id, type, subtypes, and tx_time. Results are paginated using cursor-based pagination. 
     * @param type The unified transaction type. Possible values include:   - &#x60;1&#x60;: Deposit transaction.   - &#x60;2&#x60;: Payment transaction.  (optional)
     * @param subtypes A list of unified transaction subtypes, separated by comma. See the &#x60;FeeStationUnifiedTransactionSubtype&#x60; schema for the list of valid values.  (optional)
     * @param transactionId The unique identifier of a unified transaction. Use this to look up a specific transaction. (optional)
     * @param startAt Filter unified transactions whose tx_time is on or after the given Unix timestamp (in seconds). (optional)
     * @param endAt Filter unified transactions whose tx_time is before the given Unix timestamp (in seconds). (optional)
     * @param before This parameter specifies an object ID as a starting point for pagination, retrieving data before the specified object relative to the current dataset.    Suppose the current data is ordered as Object A, Object B, and Object C.  If you set &#x60;before&#x60; to the ID of Object C (&#x60;RqeEoTkgKG5rpzqYzg2Hd3szmPoj2cE7w5jWwShz3C1vyGSAk&#x60;), the response will include Object B and Object A.    **Notes**:   - If you set both &#x60;after&#x60; and &#x60;before&#x60;, an error will occur. - If you leave both &#x60;before&#x60; and &#x60;after&#x60; empty, the first page of data is returned. - If you set it to &#x60;infinity&#x60;, the last page of data is returned.  (optional)
     * @param after This parameter specifies an object ID as a starting point for pagination, retrieving data after the specified object relative to the current dataset.    Suppose the current data is ordered as Object A, Object B, and Object C. If you set &#x60;after&#x60; to the ID of Object A (&#x60;RqeEoTkgKG5rpzqYzg2Hd3szmPoj2cE7w5jWwShz3C1vyGSAk&#x60;), the response will include Object B and Object C.    **Notes**:   - If you set both &#x60;after&#x60; and &#x60;before&#x60;, an error will occur. - If you leave both &#x60;before&#x60; and &#x60;after&#x60; empty, the first page of data is returned.  (optional)
     * @param limit The maximum number of objects to return. For most operations, the value range is [1, 50]. (optional, default to 10)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The information about the fee station unified transactions. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listFeeStationUnifiedTransactionsAsync(Integer type, String subtypes, String transactionId, String startAt, String endAt, String before, String after, Integer limit, final ApiCallback<ListFeeStationUnifiedTransactions200Response> _callback) throws ApiException {

        okhttp3.Call localVarCall = listFeeStationUnifiedTransactionsValidateBeforeCall(type, subtypes, transactionId, startAt, endAt, before, after, limit, _callback);
        Type localVarReturnType = new TypeToken<ListFeeStationUnifiedTransactions200Response>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for refundCommissionFee
     * @param refundCommissionFeeRequest This request supports partial refunds. The refunded amount is accumulated across multiple requests and must not exceed the originally charged amount.  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call refundCommissionFeeCall(RefundCommissionFeeRequest refundCommissionFeeRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = refundCommissionFeeRequest;

        // create path and map variables
        String localVarPath = "/internal/fee_station/refund_commission_fee";

        List<Pair> localVarQueryParams = new ArrayList<>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<>();
        Map<String, String> localVarHeaderParams = new HashMap<>();
        Map<String, String> localVarCookieParams = new HashMap<>();
        Map<String, Object> localVarFormParams = new HashMap<>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        if (localVarContentType != null) {
            localVarHeaderParams.put("Content-Type", localVarContentType);
        }

        String[] localVarAuthNames = new String[] {};
        return localVarApiClient.buildCall(null, localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call refundCommissionFeeValidateBeforeCall(RefundCommissionFeeRequest refundCommissionFeeRequest, final ApiCallback _callback) throws ApiException {
        return refundCommissionFeeCall(refundCommissionFeeRequest, _callback);

    }

    /**
     * Refund commission fee
     * This operation refund commission fee. 
     * @param refundCommissionFeeRequest This request supports partial refunds. The refunded amount is accumulated across multiple requests and must not exceed the originally charged amount.  (optional)
     * @return RefundCommissionFee201Response
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public RefundCommissionFee201Response refundCommissionFee(RefundCommissionFeeRequest refundCommissionFeeRequest) throws ApiException {
        ApiResponse<RefundCommissionFee201Response> localVarResp = refundCommissionFeeWithHttpInfo(refundCommissionFeeRequest);
        return localVarResp.getData();
    }

    /**
     * Refund commission fee
     * This operation refund commission fee. 
     * @param refundCommissionFeeRequest This request supports partial refunds. The refunded amount is accumulated across multiple requests and must not exceed the originally charged amount.  (optional)
     * @return ApiResponse&lt;RefundCommissionFee201Response&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<RefundCommissionFee201Response> refundCommissionFeeWithHttpInfo(RefundCommissionFeeRequest refundCommissionFeeRequest) throws ApiException {
        okhttp3.Call localVarCall = refundCommissionFeeValidateBeforeCall(refundCommissionFeeRequest, null);
        Type localVarReturnType = new TypeToken<RefundCommissionFee201Response>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Refund commission fee (asynchronously)
     * This operation refund commission fee. 
     * @param refundCommissionFeeRequest This request supports partial refunds. The refunded amount is accumulated across multiple requests and must not exceed the originally charged amount.  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> The request was successful. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call refundCommissionFeeAsync(RefundCommissionFeeRequest refundCommissionFeeRequest, final ApiCallback<RefundCommissionFee201Response> _callback) throws ApiException {

        okhttp3.Call localVarCall = refundCommissionFeeValidateBeforeCall(refundCommissionFeeRequest, _callback);
        Type localVarReturnType = new TypeToken<RefundCommissionFee201Response>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for updateFeeStationConfig
     * @param updateFeeStationConfigRequest The request body to update fee station settings (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call updateFeeStationConfigCall(UpdateFeeStationConfigRequest updateFeeStationConfigRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = updateFeeStationConfigRequest;

        // create path and map variables
        String localVarPath = "/internal/fee_station/update_conf";

        List<Pair> localVarQueryParams = new ArrayList<>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<>();
        Map<String, String> localVarHeaderParams = new HashMap<>();
        Map<String, String> localVarCookieParams = new HashMap<>();
        Map<String, Object> localVarFormParams = new HashMap<>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        if (localVarContentType != null) {
            localVarHeaderParams.put("Content-Type", localVarContentType);
        }

        String[] localVarAuthNames = new String[] {};
        return localVarApiClient.buildCall(null, localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call updateFeeStationConfigValidateBeforeCall(UpdateFeeStationConfigRequest updateFeeStationConfigRequest, final ApiCallback _callback) throws ApiException {
        return updateFeeStationConfigCall(updateFeeStationConfigRequest, _callback);

    }

    /**
     * Update FeeStation
     * This operation to update fee station config. 
     * @param updateFeeStationConfigRequest The request body to update fee station settings (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public void updateFeeStationConfig(UpdateFeeStationConfigRequest updateFeeStationConfigRequest) throws ApiException {
        updateFeeStationConfigWithHttpInfo(updateFeeStationConfigRequest);
    }

    /**
     * Update FeeStation
     * This operation to update fee station config. 
     * @param updateFeeStationConfigRequest The request body to update fee station settings (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> updateFeeStationConfigWithHttpInfo(UpdateFeeStationConfigRequest updateFeeStationConfigRequest) throws ApiException {
        okhttp3.Call localVarCall = updateFeeStationConfigValidateBeforeCall(updateFeeStationConfigRequest, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Update FeeStation (asynchronously)
     * This operation to update fee station config. 
     * @param updateFeeStationConfigRequest The request body to update fee station settings (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td>  </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call updateFeeStationConfigAsync(UpdateFeeStationConfigRequest updateFeeStationConfigRequest, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = updateFeeStationConfigValidateBeforeCall(updateFeeStationConfigRequest, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
}
