/*
 * Cobo Wallet as a Service 2.0
 *
 * Contact: help@cobo.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.cobo.waas2.api;

import com.cobo.waas2.ApiCallback;
import com.cobo.waas2.ApiClient;
import com.cobo.waas2.ApiException;
import com.cobo.waas2.ApiResponse;
import com.cobo.waas2.Configuration;
import com.cobo.waas2.Pair;
import com.cobo.waas2.ProgressRequestBody;
import com.cobo.waas2.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.cobo.waas2.model.BatchLimitsAndLiquidityRequest;
import com.cobo.waas2.model.BatchLimitsAndLiquidityResponse;
import com.cobo.waas2.model.CheckSwapWalletAddress200Response;
import com.cobo.waas2.model.ErrorResponse;
import com.cobo.waas2.model.ListSwapReachableTokens200Response;
import com.cobo.waas2.model.SwapLimitsAndLiquidity;
import com.cobo.waas2.model.SwapType;
import com.cobo.waas2.model.WalletSubtype;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class InternalSwapsApi {
    private ApiClient localVarApiClient;

    public InternalSwapsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public InternalSwapsApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for batchGetSwapLimitsAndLiquidityInternally
     * @param batchLimitsAndLiquidityRequest Request body to query swap limits and liquidity for a batch of pay/receive token pairs. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> The batch swap limits and liquidity information have been successfully retrieved. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call batchGetSwapLimitsAndLiquidityInternallyCall(BatchLimitsAndLiquidityRequest batchLimitsAndLiquidityRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = batchLimitsAndLiquidityRequest;

        // create path and map variables
        String localVarPath = "/internal/swaps/limits_and_liquidity/batch";

        List<Pair> localVarQueryParams = new ArrayList<>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<>();
        Map<String, String> localVarHeaderParams = new HashMap<>();
        Map<String, String> localVarCookieParams = new HashMap<>();
        Map<String, Object> localVarFormParams = new HashMap<>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        if (localVarContentType != null) {
            localVarHeaderParams.put("Content-Type", localVarContentType);
        }

        String[] localVarAuthNames = new String[] {};
        return localVarApiClient.buildCall(null, localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call batchGetSwapLimitsAndLiquidityInternallyValidateBeforeCall(BatchLimitsAndLiquidityRequest batchLimitsAndLiquidityRequest, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'batchLimitsAndLiquidityRequest' is set
        if (batchLimitsAndLiquidityRequest == null) {
            throw new ApiException("Missing the required parameter 'batchLimitsAndLiquidityRequest' when calling batchGetSwapLimitsAndLiquidityInternally(Async)");
        }

        return batchGetSwapLimitsAndLiquidityInternallyCall(batchLimitsAndLiquidityRequest, _callback);

    }

    /**
     * Batch Get Swap Limits and Liquidity
     * This operation retrieves the trading limits and available liquidity for up to 50 swap trading pairs in a single request. Only the pay/receive token pair varies per item - &#x60;wallet_id&#x60;, &#x60;wallet_type&#x60;, and &#x60;wallet_subtype&#x60; are request-level fields applied to every pair in the batch, not per item. Each result item echoes back the &#x60;pay_token_id&#x60; and &#x60;receive_token_id&#x60; from its request item so callers can match results to the pair they asked about. 
     * @param batchLimitsAndLiquidityRequest Request body to query swap limits and liquidity for a batch of pay/receive token pairs. (required)
     * @return BatchLimitsAndLiquidityResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> The batch swap limits and liquidity information have been successfully retrieved. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public BatchLimitsAndLiquidityResponse batchGetSwapLimitsAndLiquidityInternally(BatchLimitsAndLiquidityRequest batchLimitsAndLiquidityRequest) throws ApiException {
        ApiResponse<BatchLimitsAndLiquidityResponse> localVarResp = batchGetSwapLimitsAndLiquidityInternallyWithHttpInfo(batchLimitsAndLiquidityRequest);
        return localVarResp.getData();
    }

    /**
     * Batch Get Swap Limits and Liquidity
     * This operation retrieves the trading limits and available liquidity for up to 50 swap trading pairs in a single request. Only the pay/receive token pair varies per item - &#x60;wallet_id&#x60;, &#x60;wallet_type&#x60;, and &#x60;wallet_subtype&#x60; are request-level fields applied to every pair in the batch, not per item. Each result item echoes back the &#x60;pay_token_id&#x60; and &#x60;receive_token_id&#x60; from its request item so callers can match results to the pair they asked about. 
     * @param batchLimitsAndLiquidityRequest Request body to query swap limits and liquidity for a batch of pay/receive token pairs. (required)
     * @return ApiResponse&lt;BatchLimitsAndLiquidityResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> The batch swap limits and liquidity information have been successfully retrieved. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<BatchLimitsAndLiquidityResponse> batchGetSwapLimitsAndLiquidityInternallyWithHttpInfo(BatchLimitsAndLiquidityRequest batchLimitsAndLiquidityRequest) throws ApiException {
        okhttp3.Call localVarCall = batchGetSwapLimitsAndLiquidityInternallyValidateBeforeCall(batchLimitsAndLiquidityRequest, null);
        Type localVarReturnType = new TypeToken<BatchLimitsAndLiquidityResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Batch Get Swap Limits and Liquidity (asynchronously)
     * This operation retrieves the trading limits and available liquidity for up to 50 swap trading pairs in a single request. Only the pay/receive token pair varies per item - &#x60;wallet_id&#x60;, &#x60;wallet_type&#x60;, and &#x60;wallet_subtype&#x60; are request-level fields applied to every pair in the batch, not per item. Each result item echoes back the &#x60;pay_token_id&#x60; and &#x60;receive_token_id&#x60; from its request item so callers can match results to the pair they asked about. 
     * @param batchLimitsAndLiquidityRequest Request body to query swap limits and liquidity for a batch of pay/receive token pairs. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> The batch swap limits and liquidity information have been successfully retrieved. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call batchGetSwapLimitsAndLiquidityInternallyAsync(BatchLimitsAndLiquidityRequest batchLimitsAndLiquidityRequest, final ApiCallback<BatchLimitsAndLiquidityResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = batchGetSwapLimitsAndLiquidityInternallyValidateBeforeCall(batchLimitsAndLiquidityRequest, _callback);
        Type localVarReturnType = new TypeToken<BatchLimitsAndLiquidityResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for checkSwapWalletAddress
     * @param chainId The chain ID, which is the unique identifier of a blockchain. You can retrieve the IDs of all the chains you can use by calling [List enabled chains](https://www.cobo.com/developers/v2/api-references/wallets/list-enabled-chains). (required)
     * @param address The wallet address. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The wallet address check result has been successfully retrieved. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call checkSwapWalletAddressCall(String chainId, String address, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/internal/swaps/check_wallet_address";

        List<Pair> localVarQueryParams = new ArrayList<>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<>();
        Map<String, String> localVarHeaderParams = new HashMap<>();
        Map<String, String> localVarCookieParams = new HashMap<>();
        Map<String, Object> localVarFormParams = new HashMap<>();

        if (chainId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("chain_id", chainId));
        }

        if (address != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("address", address));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        if (localVarContentType != null) {
            localVarHeaderParams.put("Content-Type", localVarContentType);
        }

        String[] localVarAuthNames = new String[] {};
        return localVarApiClient.buildCall(null, localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call checkSwapWalletAddressValidateBeforeCall(String chainId, String address, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'chainId' is set
        if (chainId == null) {
            throw new ApiException("Missing the required parameter 'chainId' when calling checkSwapWalletAddress(Async)");
        }

        // verify the required parameter 'address' is set
        if (address == null) {
            throw new ApiException("Missing the required parameter 'address' when calling checkSwapWalletAddress(Async)");
        }

        return checkSwapWalletAddressCall(chainId, address, _callback);

    }

    /**
     * Check Swap Address
     * This operation checks whether a given address belongs to a swap-related wallet. This is primarily used to identify bridge transactions and distinguish them from regular user transactions. 
     * @param chainId The chain ID, which is the unique identifier of a blockchain. You can retrieve the IDs of all the chains you can use by calling [List enabled chains](https://www.cobo.com/developers/v2/api-references/wallets/list-enabled-chains). (required)
     * @param address The wallet address. (required)
     * @return CheckSwapWalletAddress200Response
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The wallet address check result has been successfully retrieved. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public CheckSwapWalletAddress200Response checkSwapWalletAddress(String chainId, String address) throws ApiException {
        ApiResponse<CheckSwapWalletAddress200Response> localVarResp = checkSwapWalletAddressWithHttpInfo(chainId, address);
        return localVarResp.getData();
    }

    /**
     * Check Swap Address
     * This operation checks whether a given address belongs to a swap-related wallet. This is primarily used to identify bridge transactions and distinguish them from regular user transactions. 
     * @param chainId The chain ID, which is the unique identifier of a blockchain. You can retrieve the IDs of all the chains you can use by calling [List enabled chains](https://www.cobo.com/developers/v2/api-references/wallets/list-enabled-chains). (required)
     * @param address The wallet address. (required)
     * @return ApiResponse&lt;CheckSwapWalletAddress200Response&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The wallet address check result has been successfully retrieved. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CheckSwapWalletAddress200Response> checkSwapWalletAddressWithHttpInfo(String chainId, String address) throws ApiException {
        okhttp3.Call localVarCall = checkSwapWalletAddressValidateBeforeCall(chainId, address, null);
        Type localVarReturnType = new TypeToken<CheckSwapWalletAddress200Response>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Check Swap Address (asynchronously)
     * This operation checks whether a given address belongs to a swap-related wallet. This is primarily used to identify bridge transactions and distinguish them from regular user transactions. 
     * @param chainId The chain ID, which is the unique identifier of a blockchain. You can retrieve the IDs of all the chains you can use by calling [List enabled chains](https://www.cobo.com/developers/v2/api-references/wallets/list-enabled-chains). (required)
     * @param address The wallet address. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The wallet address check result has been successfully retrieved. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call checkSwapWalletAddressAsync(String chainId, String address, final ApiCallback<CheckSwapWalletAddress200Response> _callback) throws ApiException {

        okhttp3.Call localVarCall = checkSwapWalletAddressValidateBeforeCall(chainId, address, _callback);
        Type localVarReturnType = new TypeToken<CheckSwapWalletAddress200Response>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getSwapLimitsAndLiquidityInternally
     * @param payTokenId Unique id of the token to pay. (required)
     * @param receiveTokenId Unique id of the token to receive. (required)
     * @param walletSubtype The wallet subtype.  - &#x60;Asset&#x60;: Custodial Wallets (Asset Wallets)  - &#x60;Web3&#x60;: Custodial Wallets (Web3 Wallets)  - &#x60;Main&#x60;: Exchange Wallets (Main Account)  - &#x60;Sub&#x60;: Exchange Wallets (Sub Account)  - &#x60;Org-Controlled&#x60;: MPC Wallets (Organization-Controlled Wallets)  - &#x60;User-Controlled&#x60;: MPC Wallets (User-Controlled Wallets)  (required)
     * @param type  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The swap limits and liquidity information have been successfully retrieved. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getSwapLimitsAndLiquidityInternallyCall(String payTokenId, String receiveTokenId, WalletSubtype walletSubtype, SwapType type, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/internal/swaps/limits_and_liquidity";

        List<Pair> localVarQueryParams = new ArrayList<>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<>();
        Map<String, String> localVarHeaderParams = new HashMap<>();
        Map<String, String> localVarCookieParams = new HashMap<>();
        Map<String, Object> localVarFormParams = new HashMap<>();

        if (payTokenId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("pay_token_id", payTokenId));
        }

        if (receiveTokenId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("receive_token_id", receiveTokenId));
        }

        if (walletSubtype != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("wallet_subtype", walletSubtype));
        }

        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        if (localVarContentType != null) {
            localVarHeaderParams.put("Content-Type", localVarContentType);
        }

        String[] localVarAuthNames = new String[] {};
        return localVarApiClient.buildCall(null, localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getSwapLimitsAndLiquidityInternallyValidateBeforeCall(String payTokenId, String receiveTokenId, WalletSubtype walletSubtype, SwapType type, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'payTokenId' is set
        if (payTokenId == null) {
            throw new ApiException("Missing the required parameter 'payTokenId' when calling getSwapLimitsAndLiquidityInternally(Async)");
        }

        // verify the required parameter 'receiveTokenId' is set
        if (receiveTokenId == null) {
            throw new ApiException("Missing the required parameter 'receiveTokenId' when calling getSwapLimitsAndLiquidityInternally(Async)");
        }

        // verify the required parameter 'walletSubtype' is set
        if (walletSubtype == null) {
            throw new ApiException("Missing the required parameter 'walletSubtype' when calling getSwapLimitsAndLiquidityInternally(Async)");
        }

        return getSwapLimitsAndLiquidityInternallyCall(payTokenId, receiveTokenId, walletSubtype, type, _callback);

    }

    /**
     * Get Swap Limits and Liquidity
     * This operation retrieves the trading limits and available liquidity for a specific swap trading pair. The limits include minimum and maximum amounts for both pay and receive tokens, as well as the available liquidity in both pay token and USD. 
     * @param payTokenId Unique id of the token to pay. (required)
     * @param receiveTokenId Unique id of the token to receive. (required)
     * @param walletSubtype The wallet subtype.  - &#x60;Asset&#x60;: Custodial Wallets (Asset Wallets)  - &#x60;Web3&#x60;: Custodial Wallets (Web3 Wallets)  - &#x60;Main&#x60;: Exchange Wallets (Main Account)  - &#x60;Sub&#x60;: Exchange Wallets (Sub Account)  - &#x60;Org-Controlled&#x60;: MPC Wallets (Organization-Controlled Wallets)  - &#x60;User-Controlled&#x60;: MPC Wallets (User-Controlled Wallets)  (required)
     * @param type  (optional)
     * @return SwapLimitsAndLiquidity
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The swap limits and liquidity information have been successfully retrieved. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public SwapLimitsAndLiquidity getSwapLimitsAndLiquidityInternally(String payTokenId, String receiveTokenId, WalletSubtype walletSubtype, SwapType type) throws ApiException {
        ApiResponse<SwapLimitsAndLiquidity> localVarResp = getSwapLimitsAndLiquidityInternallyWithHttpInfo(payTokenId, receiveTokenId, walletSubtype, type);
        return localVarResp.getData();
    }

    /**
     * Get Swap Limits and Liquidity
     * This operation retrieves the trading limits and available liquidity for a specific swap trading pair. The limits include minimum and maximum amounts for both pay and receive tokens, as well as the available liquidity in both pay token and USD. 
     * @param payTokenId Unique id of the token to pay. (required)
     * @param receiveTokenId Unique id of the token to receive. (required)
     * @param walletSubtype The wallet subtype.  - &#x60;Asset&#x60;: Custodial Wallets (Asset Wallets)  - &#x60;Web3&#x60;: Custodial Wallets (Web3 Wallets)  - &#x60;Main&#x60;: Exchange Wallets (Main Account)  - &#x60;Sub&#x60;: Exchange Wallets (Sub Account)  - &#x60;Org-Controlled&#x60;: MPC Wallets (Organization-Controlled Wallets)  - &#x60;User-Controlled&#x60;: MPC Wallets (User-Controlled Wallets)  (required)
     * @param type  (optional)
     * @return ApiResponse&lt;SwapLimitsAndLiquidity&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The swap limits and liquidity information have been successfully retrieved. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<SwapLimitsAndLiquidity> getSwapLimitsAndLiquidityInternallyWithHttpInfo(String payTokenId, String receiveTokenId, WalletSubtype walletSubtype, SwapType type) throws ApiException {
        okhttp3.Call localVarCall = getSwapLimitsAndLiquidityInternallyValidateBeforeCall(payTokenId, receiveTokenId, walletSubtype, type, null);
        Type localVarReturnType = new TypeToken<SwapLimitsAndLiquidity>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get Swap Limits and Liquidity (asynchronously)
     * This operation retrieves the trading limits and available liquidity for a specific swap trading pair. The limits include minimum and maximum amounts for both pay and receive tokens, as well as the available liquidity in both pay token and USD. 
     * @param payTokenId Unique id of the token to pay. (required)
     * @param receiveTokenId Unique id of the token to receive. (required)
     * @param walletSubtype The wallet subtype.  - &#x60;Asset&#x60;: Custodial Wallets (Asset Wallets)  - &#x60;Web3&#x60;: Custodial Wallets (Web3 Wallets)  - &#x60;Main&#x60;: Exchange Wallets (Main Account)  - &#x60;Sub&#x60;: Exchange Wallets (Sub Account)  - &#x60;Org-Controlled&#x60;: MPC Wallets (Organization-Controlled Wallets)  - &#x60;User-Controlled&#x60;: MPC Wallets (User-Controlled Wallets)  (required)
     * @param type  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The swap limits and liquidity information have been successfully retrieved. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getSwapLimitsAndLiquidityInternallyAsync(String payTokenId, String receiveTokenId, WalletSubtype walletSubtype, SwapType type, final ApiCallback<SwapLimitsAndLiquidity> _callback) throws ApiException {

        okhttp3.Call localVarCall = getSwapLimitsAndLiquidityInternallyValidateBeforeCall(payTokenId, receiveTokenId, walletSubtype, type, _callback);
        Type localVarReturnType = new TypeToken<SwapLimitsAndLiquidity>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for listSwapReachableTokens
     * @param tokenId The token ID, which is the unique identifier of a token. You can retrieve the IDs of all the tokens you can use by calling [List enabled tokens](https://www.cobo.com/developers/v2/api-references/wallets/list-enabled-tokens). (required)
     * @param type The type of swap operation to filter by. This parameter is required to determine which brokers and tokens are available. - &#x60;Bridge&#x60;: Cross-chain token transfers (same token, different chains) - &#x60;Exchange&#x60;: Same-chain token swaps (different tokens, same chain)  (required)
     * @param amount The amount of the source token to swap or bridge. When provided, the returned list will only include destination tokens that satisfy the minimum and maximum amount limits for this specific amount. If not provided, all reachable tokens will be returned regardless of amount limits.  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A list of reachable tokens has been successfully retrieved. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listSwapReachableTokensCall(String tokenId, SwapType type, String amount, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/internal/swaps/reachable_tokens";

        List<Pair> localVarQueryParams = new ArrayList<>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<>();
        Map<String, String> localVarHeaderParams = new HashMap<>();
        Map<String, String> localVarCookieParams = new HashMap<>();
        Map<String, Object> localVarFormParams = new HashMap<>();

        if (tokenId != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("token_id", tokenId));
        }

        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        if (amount != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("amount", amount));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        if (localVarContentType != null) {
            localVarHeaderParams.put("Content-Type", localVarContentType);
        }

        String[] localVarAuthNames = new String[] {};
        return localVarApiClient.buildCall(null, localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listSwapReachableTokensValidateBeforeCall(String tokenId, SwapType type, String amount, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'tokenId' is set
        if (tokenId == null) {
            throw new ApiException("Missing the required parameter 'tokenId' when calling listSwapReachableTokens(Async)");
        }

        // verify the required parameter 'type' is set
        if (type == null) {
            throw new ApiException("Missing the required parameter 'type' when calling listSwapReachableTokens(Async)");
        }

        return listSwapReachableTokensCall(tokenId, type, amount, _callback);

    }

    /**
     * List Swap Reachable Tokens
     * This operation retrieves a list of all tokens that can be reached through swap or bridge operations from a specified source token. The reachable tokens are filtered based on the swap type (Exchange or Bridge), amount limits, and organization access control.  This endpoint is useful for determining which destination tokens are available when planning swap or bridge transactions, especially for payment routing scenarios where you need to convert from one token to another. 
     * @param tokenId The token ID, which is the unique identifier of a token. You can retrieve the IDs of all the tokens you can use by calling [List enabled tokens](https://www.cobo.com/developers/v2/api-references/wallets/list-enabled-tokens). (required)
     * @param type The type of swap operation to filter by. This parameter is required to determine which brokers and tokens are available. - &#x60;Bridge&#x60;: Cross-chain token transfers (same token, different chains) - &#x60;Exchange&#x60;: Same-chain token swaps (different tokens, same chain)  (required)
     * @param amount The amount of the source token to swap or bridge. When provided, the returned list will only include destination tokens that satisfy the minimum and maximum amount limits for this specific amount. If not provided, all reachable tokens will be returned regardless of amount limits.  (optional)
     * @return ListSwapReachableTokens200Response
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A list of reachable tokens has been successfully retrieved. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ListSwapReachableTokens200Response listSwapReachableTokens(String tokenId, SwapType type, String amount) throws ApiException {
        ApiResponse<ListSwapReachableTokens200Response> localVarResp = listSwapReachableTokensWithHttpInfo(tokenId, type, amount);
        return localVarResp.getData();
    }

    /**
     * List Swap Reachable Tokens
     * This operation retrieves a list of all tokens that can be reached through swap or bridge operations from a specified source token. The reachable tokens are filtered based on the swap type (Exchange or Bridge), amount limits, and organization access control.  This endpoint is useful for determining which destination tokens are available when planning swap or bridge transactions, especially for payment routing scenarios where you need to convert from one token to another. 
     * @param tokenId The token ID, which is the unique identifier of a token. You can retrieve the IDs of all the tokens you can use by calling [List enabled tokens](https://www.cobo.com/developers/v2/api-references/wallets/list-enabled-tokens). (required)
     * @param type The type of swap operation to filter by. This parameter is required to determine which brokers and tokens are available. - &#x60;Bridge&#x60;: Cross-chain token transfers (same token, different chains) - &#x60;Exchange&#x60;: Same-chain token swaps (different tokens, same chain)  (required)
     * @param amount The amount of the source token to swap or bridge. When provided, the returned list will only include destination tokens that satisfy the minimum and maximum amount limits for this specific amount. If not provided, all reachable tokens will be returned regardless of amount limits.  (optional)
     * @return ApiResponse&lt;ListSwapReachableTokens200Response&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A list of reachable tokens has been successfully retrieved. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ListSwapReachableTokens200Response> listSwapReachableTokensWithHttpInfo(String tokenId, SwapType type, String amount) throws ApiException {
        okhttp3.Call localVarCall = listSwapReachableTokensValidateBeforeCall(tokenId, type, amount, null);
        Type localVarReturnType = new TypeToken<ListSwapReachableTokens200Response>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * List Swap Reachable Tokens (asynchronously)
     * This operation retrieves a list of all tokens that can be reached through swap or bridge operations from a specified source token. The reachable tokens are filtered based on the swap type (Exchange or Bridge), amount limits, and organization access control.  This endpoint is useful for determining which destination tokens are available when planning swap or bridge transactions, especially for payment routing scenarios where you need to convert from one token to another. 
     * @param tokenId The token ID, which is the unique identifier of a token. You can retrieve the IDs of all the tokens you can use by calling [List enabled tokens](https://www.cobo.com/developers/v2/api-references/wallets/list-enabled-tokens). (required)
     * @param type The type of swap operation to filter by. This parameter is required to determine which brokers and tokens are available. - &#x60;Bridge&#x60;: Cross-chain token transfers (same token, different chains) - &#x60;Exchange&#x60;: Same-chain token swaps (different tokens, same chain)  (required)
     * @param amount The amount of the source token to swap or bridge. When provided, the returned list will only include destination tokens that satisfy the minimum and maximum amount limits for this specific amount. If not provided, all reachable tokens will be returned regardless of amount limits.  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> A list of reachable tokens has been successfully retrieved. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listSwapReachableTokensAsync(String tokenId, SwapType type, String amount, final ApiCallback<ListSwapReachableTokens200Response> _callback) throws ApiException {

        okhttp3.Call localVarCall = listSwapReachableTokensValidateBeforeCall(tokenId, type, amount, _callback);
        Type localVarReturnType = new TypeToken<ListSwapReachableTokens200Response>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
