/*
 * Cobo Wallet as a Service 2.0
 *
 * Contact: help@cobo.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.cobo.waas2.api;

import com.cobo.waas2.ApiCallback;
import com.cobo.waas2.ApiClient;
import com.cobo.waas2.ApiException;
import com.cobo.waas2.ApiResponse;
import com.cobo.waas2.Configuration;
import com.cobo.waas2.Pair;
import com.cobo.waas2.ProgressRequestBody;
import com.cobo.waas2.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.cobo.waas2.model.ErrorResponse;
import com.cobo.waas2.model.SetSupportTokenParams;
import com.cobo.waas2.model.SetSupportTokenResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class InternalTokensApi {
    private ApiClient localVarApiClient;

    public InternalTokensApi() {
        this(Configuration.getDefaultApiClient());
    }

    public InternalTokensApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for setSupportToken
     * @param setSupportTokenParams Request body to set a supported token for specified organizations. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> The response for setting a supported token for specified organizations. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call setSupportTokenCall(SetSupportTokenParams setSupportTokenParams, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = setSupportTokenParams;

        // create path and map variables
        String localVarPath = "/internal/tokens/set_support_token";

        List<Pair> localVarQueryParams = new ArrayList<>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<>();
        Map<String, String> localVarHeaderParams = new HashMap<>();
        Map<String, String> localVarCookieParams = new HashMap<>();
        Map<String, Object> localVarFormParams = new HashMap<>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        if (localVarContentType != null) {
            localVarHeaderParams.put("Content-Type", localVarContentType);
        }

        String[] localVarAuthNames = new String[] {};
        return localVarApiClient.buildCall(null, localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call setSupportTokenValidateBeforeCall(SetSupportTokenParams setSupportTokenParams, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'setSupportTokenParams' is set
        if (setSupportTokenParams == null) {
            throw new ApiException("Missing the required parameter 'setSupportTokenParams' when calling setSupportToken(Async)");
        }

        return setSupportTokenCall(setSupportTokenParams, _callback);

    }

    /**
     * Set support token
     * This operation sets a supported token for specified payment organizations. You need to specify the token ID, organization IDs, and wallet type. 
     * @param setSupportTokenParams Request body to set a supported token for specified organizations. (required)
     * @return SetSupportTokenResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> The response for setting a supported token for specified organizations. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public SetSupportTokenResponse setSupportToken(SetSupportTokenParams setSupportTokenParams) throws ApiException {
        ApiResponse<SetSupportTokenResponse> localVarResp = setSupportTokenWithHttpInfo(setSupportTokenParams);
        return localVarResp.getData();
    }

    /**
     * Set support token
     * This operation sets a supported token for specified payment organizations. You need to specify the token ID, organization IDs, and wallet type. 
     * @param setSupportTokenParams Request body to set a supported token for specified organizations. (required)
     * @return ApiResponse&lt;SetSupportTokenResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> The response for setting a supported token for specified organizations. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<SetSupportTokenResponse> setSupportTokenWithHttpInfo(SetSupportTokenParams setSupportTokenParams) throws ApiException {
        okhttp3.Call localVarCall = setSupportTokenValidateBeforeCall(setSupportTokenParams, null);
        Type localVarReturnType = new TypeToken<SetSupportTokenResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Set support token (asynchronously)
     * This operation sets a supported token for specified payment organizations. You need to specify the token ID, organization IDs, and wallet type. 
     * @param setSupportTokenParams Request body to set a supported token for specified organizations. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> The response for setting a supported token for specified organizations. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call setSupportTokenAsync(SetSupportTokenParams setSupportTokenParams, final ApiCallback<SetSupportTokenResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = setSupportTokenValidateBeforeCall(setSupportTokenParams, _callback);
        Type localVarReturnType = new TypeToken<SetSupportTokenResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
