/*
 * Cobo Wallet as a Service 2.0
 *
 * Contact: help@cobo.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.cobo.waas2.api;

import com.cobo.waas2.ApiCallback;
import com.cobo.waas2.ApiClient;
import com.cobo.waas2.ApiException;
import com.cobo.waas2.ApiResponse;
import com.cobo.waas2.Configuration;
import com.cobo.waas2.Pair;
import com.cobo.waas2.ProgressRequestBody;
import com.cobo.waas2.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.cobo.waas2.model.ErrorResponse;
import com.cobo.waas2.model.GetReconciliationLedger200Response;
import com.cobo.waas2.model.ListReconciliationStatements200Response;
import java.time.LocalDate;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ReconciliationApi {
    private ApiClient localVarApiClient;

    public ReconciliationApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ReconciliationApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getReconciliationLedger
     * @param transactionIds A list of transaction IDs, separated by comma. You can specify 1 to 100 transaction IDs. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The reconciliation ledger entries (post-transaction balances). </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getReconciliationLedgerCall(String transactionIds, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/recon/ledger";

        List<Pair> localVarQueryParams = new ArrayList<>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<>();
        Map<String, String> localVarHeaderParams = new HashMap<>();
        Map<String, String> localVarCookieParams = new HashMap<>();
        Map<String, Object> localVarFormParams = new HashMap<>();

        if (transactionIds != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("transaction_ids", transactionIds));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        if (localVarContentType != null) {
            localVarHeaderParams.put("Content-Type", localVarContentType);
        }

        String[] localVarAuthNames = new String[] {};
        return localVarApiClient.buildCall(null, localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getReconciliationLedgerValidateBeforeCall(String transactionIds, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'transactionIds' is set
        if (transactionIds == null) {
            throw new ApiException("Missing the required parameter 'transactionIds' when calling getReconciliationLedger(Async)");
        }

        return getReconciliationLedgerCall(transactionIds, _callback);

    }

    /**
     * Get reconciliation ledger
     * This operation retrieves the post-transaction balance (running balance) for the specified transactions, used for stablecoin deposit and withdrawal reconciliation.  You need to provide the transaction IDs in &#x60;transaction_ids&#x60;. Each returned entry includes the signed amount and the resulting balance of the address after the transaction, expressed in the token&#39;s main unit.  &lt;Note&gt;This operation is available to selected customers only. To request access, please contact Cobo.&lt;/Note&gt;  &lt;Note&gt;This operation is applicable to MPC Wallets and Custodial Web3 Wallets only, and covers stablecoins only. To ensure accurate reconciliation results, do not use the contract call and message signing features. Currently, only stablecoins on the Ethereum and TRON chains are supported.&lt;/Note&gt; 
     * @param transactionIds A list of transaction IDs, separated by comma. You can specify 1 to 100 transaction IDs. (required)
     * @return GetReconciliationLedger200Response
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The reconciliation ledger entries (post-transaction balances). </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public GetReconciliationLedger200Response getReconciliationLedger(String transactionIds) throws ApiException {
        ApiResponse<GetReconciliationLedger200Response> localVarResp = getReconciliationLedgerWithHttpInfo(transactionIds);
        return localVarResp.getData();
    }

    /**
     * Get reconciliation ledger
     * This operation retrieves the post-transaction balance (running balance) for the specified transactions, used for stablecoin deposit and withdrawal reconciliation.  You need to provide the transaction IDs in &#x60;transaction_ids&#x60;. Each returned entry includes the signed amount and the resulting balance of the address after the transaction, expressed in the token&#39;s main unit.  &lt;Note&gt;This operation is available to selected customers only. To request access, please contact Cobo.&lt;/Note&gt;  &lt;Note&gt;This operation is applicable to MPC Wallets and Custodial Web3 Wallets only, and covers stablecoins only. To ensure accurate reconciliation results, do not use the contract call and message signing features. Currently, only stablecoins on the Ethereum and TRON chains are supported.&lt;/Note&gt; 
     * @param transactionIds A list of transaction IDs, separated by comma. You can specify 1 to 100 transaction IDs. (required)
     * @return ApiResponse&lt;GetReconciliationLedger200Response&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The reconciliation ledger entries (post-transaction balances). </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<GetReconciliationLedger200Response> getReconciliationLedgerWithHttpInfo(String transactionIds) throws ApiException {
        okhttp3.Call localVarCall = getReconciliationLedgerValidateBeforeCall(transactionIds, null);
        Type localVarReturnType = new TypeToken<GetReconciliationLedger200Response>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Get reconciliation ledger (asynchronously)
     * This operation retrieves the post-transaction balance (running balance) for the specified transactions, used for stablecoin deposit and withdrawal reconciliation.  You need to provide the transaction IDs in &#x60;transaction_ids&#x60;. Each returned entry includes the signed amount and the resulting balance of the address after the transaction, expressed in the token&#39;s main unit.  &lt;Note&gt;This operation is available to selected customers only. To request access, please contact Cobo.&lt;/Note&gt;  &lt;Note&gt;This operation is applicable to MPC Wallets and Custodial Web3 Wallets only, and covers stablecoins only. To ensure accurate reconciliation results, do not use the contract call and message signing features. Currently, only stablecoins on the Ethereum and TRON chains are supported.&lt;/Note&gt; 
     * @param transactionIds A list of transaction IDs, separated by comma. You can specify 1 to 100 transaction IDs. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The reconciliation ledger entries (post-transaction balances). </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getReconciliationLedgerAsync(String transactionIds, final ApiCallback<GetReconciliationLedger200Response> _callback) throws ApiException {

        okhttp3.Call localVarCall = getReconciliationLedgerValidateBeforeCall(transactionIds, _callback);
        Type localVarReturnType = new TypeToken<GetReconciliationLedger200Response>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for listReconciliationStatements
     * @param startDate The start date of the reconciliation period (inclusive), in YYYY-MM-DD format (UTC). The range between &#x60;start_date&#x60; and &#x60;end_date&#x60; must not exceed 366 days. (required)
     * @param endDate The end date of the reconciliation period (inclusive), in YYYY-MM-DD format (UTC). The range between &#x60;start_date&#x60; and &#x60;end_date&#x60; must not exceed 366 days. (required)
     * @param walletIds A list of wallet IDs, separated by comma. (optional)
     * @param tokenIds A list of token IDs, separated by comma. The token ID is the unique identifier of a token. You can retrieve the IDs of all the tokens you can use by calling [List enabled tokens](https://www.cobo.com/developers/v2/api-references/wallets/list-enabled-tokens). (optional)
     * @param limit The maximum number of objects to return. For most operations, the value range is [1, 50]. (optional, default to 10)
     * @param before This parameter specifies an object ID as a starting point for pagination, retrieving data before the specified object relative to the current dataset.    Suppose the current data is ordered as Object A, Object B, and Object C.  If you set &#x60;before&#x60; to the ID of Object C (&#x60;RqeEoTkgKG5rpzqYzg2Hd3szmPoj2cE7w5jWwShz3C1vyGSAk&#x60;), the response will include Object B and Object A.    **Notes**:   - If you set both &#x60;after&#x60; and &#x60;before&#x60;, an error will occur. - If you leave both &#x60;before&#x60; and &#x60;after&#x60; empty, the first page of data is returned. - If you set it to &#x60;infinity&#x60;, the last page of data is returned.  (optional)
     * @param after This parameter specifies an object ID as a starting point for pagination, retrieving data after the specified object relative to the current dataset.    Suppose the current data is ordered as Object A, Object B, and Object C. If you set &#x60;after&#x60; to the ID of Object A (&#x60;RqeEoTkgKG5rpzqYzg2Hd3szmPoj2cE7w5jWwShz3C1vyGSAk&#x60;), the response will include Object B and Object C.    **Notes**:   - If you set both &#x60;after&#x60; and &#x60;before&#x60;, an error will occur. - If you leave both &#x60;before&#x60; and &#x60;after&#x60; empty, the first page of data is returned.  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The daily reconciliation statements. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listReconciliationStatementsCall(LocalDate startDate, LocalDate endDate, String walletIds, String tokenIds, Integer limit, String before, String after, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/recon/statements";

        List<Pair> localVarQueryParams = new ArrayList<>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<>();
        Map<String, String> localVarHeaderParams = new HashMap<>();
        Map<String, String> localVarCookieParams = new HashMap<>();
        Map<String, Object> localVarFormParams = new HashMap<>();

        if (startDate != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("start_date", startDate));
        }

        if (endDate != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("end_date", endDate));
        }

        if (walletIds != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("wallet_ids", walletIds));
        }

        if (tokenIds != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("token_ids", tokenIds));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (before != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("before", before));
        }

        if (after != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("after", after));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        if (localVarContentType != null) {
            localVarHeaderParams.put("Content-Type", localVarContentType);
        }

        String[] localVarAuthNames = new String[] {};
        return localVarApiClient.buildCall(null, localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listReconciliationStatementsValidateBeforeCall(LocalDate startDate, LocalDate endDate, String walletIds, String tokenIds, Integer limit, String before, String after, final ApiCallback _callback) throws ApiException {
        // verify the required parameter 'startDate' is set
        if (startDate == null) {
            throw new ApiException("Missing the required parameter 'startDate' when calling listReconciliationStatements(Async)");
        }

        // verify the required parameter 'endDate' is set
        if (endDate == null) {
            throw new ApiException("Missing the required parameter 'endDate' when calling listReconciliationStatements(Async)");
        }

        return listReconciliationStatementsCall(startDate, endDate, walletIds, tokenIds, limit, before, after, _callback);

    }

    /**
     * List reconciliation daily statements
     * This operation retrieves daily reconciliation statements within a date range. Each statement contains the opening balance, total deposits, total withdrawals, and closing balance for a business date, wallet, and token.  You need to specify the date range with &#x60;start_date&#x60; and &#x60;end_date&#x60;. You can filter the results by wallets and tokens, and paginate the query results. All amounts are expressed in the token&#39;s main unit.  &lt;Note&gt;This operation is available to selected customers only. To request access, please contact Cobo.&lt;/Note&gt;  &lt;Note&gt;This operation is applicable to MPC Wallets and Custodial Web3 Wallets only, and covers stablecoins only. To ensure accurate reconciliation results, do not use the contract call and message signing features. Currently, only stablecoins on the Ethereum and TRON chains are supported.&lt;/Note&gt; 
     * @param startDate The start date of the reconciliation period (inclusive), in YYYY-MM-DD format (UTC). The range between &#x60;start_date&#x60; and &#x60;end_date&#x60; must not exceed 366 days. (required)
     * @param endDate The end date of the reconciliation period (inclusive), in YYYY-MM-DD format (UTC). The range between &#x60;start_date&#x60; and &#x60;end_date&#x60; must not exceed 366 days. (required)
     * @param walletIds A list of wallet IDs, separated by comma. (optional)
     * @param tokenIds A list of token IDs, separated by comma. The token ID is the unique identifier of a token. You can retrieve the IDs of all the tokens you can use by calling [List enabled tokens](https://www.cobo.com/developers/v2/api-references/wallets/list-enabled-tokens). (optional)
     * @param limit The maximum number of objects to return. For most operations, the value range is [1, 50]. (optional, default to 10)
     * @param before This parameter specifies an object ID as a starting point for pagination, retrieving data before the specified object relative to the current dataset.    Suppose the current data is ordered as Object A, Object B, and Object C.  If you set &#x60;before&#x60; to the ID of Object C (&#x60;RqeEoTkgKG5rpzqYzg2Hd3szmPoj2cE7w5jWwShz3C1vyGSAk&#x60;), the response will include Object B and Object A.    **Notes**:   - If you set both &#x60;after&#x60; and &#x60;before&#x60;, an error will occur. - If you leave both &#x60;before&#x60; and &#x60;after&#x60; empty, the first page of data is returned. - If you set it to &#x60;infinity&#x60;, the last page of data is returned.  (optional)
     * @param after This parameter specifies an object ID as a starting point for pagination, retrieving data after the specified object relative to the current dataset.    Suppose the current data is ordered as Object A, Object B, and Object C. If you set &#x60;after&#x60; to the ID of Object A (&#x60;RqeEoTkgKG5rpzqYzg2Hd3szmPoj2cE7w5jWwShz3C1vyGSAk&#x60;), the response will include Object B and Object C.    **Notes**:   - If you set both &#x60;after&#x60; and &#x60;before&#x60;, an error will occur. - If you leave both &#x60;before&#x60; and &#x60;after&#x60; empty, the first page of data is returned.  (optional)
     * @return ListReconciliationStatements200Response
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The daily reconciliation statements. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ListReconciliationStatements200Response listReconciliationStatements(LocalDate startDate, LocalDate endDate, String walletIds, String tokenIds, Integer limit, String before, String after) throws ApiException {
        ApiResponse<ListReconciliationStatements200Response> localVarResp = listReconciliationStatementsWithHttpInfo(startDate, endDate, walletIds, tokenIds, limit, before, after);
        return localVarResp.getData();
    }

    /**
     * List reconciliation daily statements
     * This operation retrieves daily reconciliation statements within a date range. Each statement contains the opening balance, total deposits, total withdrawals, and closing balance for a business date, wallet, and token.  You need to specify the date range with &#x60;start_date&#x60; and &#x60;end_date&#x60;. You can filter the results by wallets and tokens, and paginate the query results. All amounts are expressed in the token&#39;s main unit.  &lt;Note&gt;This operation is available to selected customers only. To request access, please contact Cobo.&lt;/Note&gt;  &lt;Note&gt;This operation is applicable to MPC Wallets and Custodial Web3 Wallets only, and covers stablecoins only. To ensure accurate reconciliation results, do not use the contract call and message signing features. Currently, only stablecoins on the Ethereum and TRON chains are supported.&lt;/Note&gt; 
     * @param startDate The start date of the reconciliation period (inclusive), in YYYY-MM-DD format (UTC). The range between &#x60;start_date&#x60; and &#x60;end_date&#x60; must not exceed 366 days. (required)
     * @param endDate The end date of the reconciliation period (inclusive), in YYYY-MM-DD format (UTC). The range between &#x60;start_date&#x60; and &#x60;end_date&#x60; must not exceed 366 days. (required)
     * @param walletIds A list of wallet IDs, separated by comma. (optional)
     * @param tokenIds A list of token IDs, separated by comma. The token ID is the unique identifier of a token. You can retrieve the IDs of all the tokens you can use by calling [List enabled tokens](https://www.cobo.com/developers/v2/api-references/wallets/list-enabled-tokens). (optional)
     * @param limit The maximum number of objects to return. For most operations, the value range is [1, 50]. (optional, default to 10)
     * @param before This parameter specifies an object ID as a starting point for pagination, retrieving data before the specified object relative to the current dataset.    Suppose the current data is ordered as Object A, Object B, and Object C.  If you set &#x60;before&#x60; to the ID of Object C (&#x60;RqeEoTkgKG5rpzqYzg2Hd3szmPoj2cE7w5jWwShz3C1vyGSAk&#x60;), the response will include Object B and Object A.    **Notes**:   - If you set both &#x60;after&#x60; and &#x60;before&#x60;, an error will occur. - If you leave both &#x60;before&#x60; and &#x60;after&#x60; empty, the first page of data is returned. - If you set it to &#x60;infinity&#x60;, the last page of data is returned.  (optional)
     * @param after This parameter specifies an object ID as a starting point for pagination, retrieving data after the specified object relative to the current dataset.    Suppose the current data is ordered as Object A, Object B, and Object C. If you set &#x60;after&#x60; to the ID of Object A (&#x60;RqeEoTkgKG5rpzqYzg2Hd3szmPoj2cE7w5jWwShz3C1vyGSAk&#x60;), the response will include Object B and Object C.    **Notes**:   - If you set both &#x60;after&#x60; and &#x60;before&#x60;, an error will occur. - If you leave both &#x60;before&#x60; and &#x60;after&#x60; empty, the first page of data is returned.  (optional)
     * @return ApiResponse&lt;ListReconciliationStatements200Response&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The daily reconciliation statements. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ListReconciliationStatements200Response> listReconciliationStatementsWithHttpInfo(LocalDate startDate, LocalDate endDate, String walletIds, String tokenIds, Integer limit, String before, String after) throws ApiException {
        okhttp3.Call localVarCall = listReconciliationStatementsValidateBeforeCall(startDate, endDate, walletIds, tokenIds, limit, before, after, null);
        Type localVarReturnType = new TypeToken<ListReconciliationStatements200Response>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * List reconciliation daily statements (asynchronously)
     * This operation retrieves daily reconciliation statements within a date range. Each statement contains the opening balance, total deposits, total withdrawals, and closing balance for a business date, wallet, and token.  You need to specify the date range with &#x60;start_date&#x60; and &#x60;end_date&#x60;. You can filter the results by wallets and tokens, and paginate the query results. All amounts are expressed in the token&#39;s main unit.  &lt;Note&gt;This operation is available to selected customers only. To request access, please contact Cobo.&lt;/Note&gt;  &lt;Note&gt;This operation is applicable to MPC Wallets and Custodial Web3 Wallets only, and covers stablecoins only. To ensure accurate reconciliation results, do not use the contract call and message signing features. Currently, only stablecoins on the Ethereum and TRON chains are supported.&lt;/Note&gt; 
     * @param startDate The start date of the reconciliation period (inclusive), in YYYY-MM-DD format (UTC). The range between &#x60;start_date&#x60; and &#x60;end_date&#x60; must not exceed 366 days. (required)
     * @param endDate The end date of the reconciliation period (inclusive), in YYYY-MM-DD format (UTC). The range between &#x60;start_date&#x60; and &#x60;end_date&#x60; must not exceed 366 days. (required)
     * @param walletIds A list of wallet IDs, separated by comma. (optional)
     * @param tokenIds A list of token IDs, separated by comma. The token ID is the unique identifier of a token. You can retrieve the IDs of all the tokens you can use by calling [List enabled tokens](https://www.cobo.com/developers/v2/api-references/wallets/list-enabled-tokens). (optional)
     * @param limit The maximum number of objects to return. For most operations, the value range is [1, 50]. (optional, default to 10)
     * @param before This parameter specifies an object ID as a starting point for pagination, retrieving data before the specified object relative to the current dataset.    Suppose the current data is ordered as Object A, Object B, and Object C.  If you set &#x60;before&#x60; to the ID of Object C (&#x60;RqeEoTkgKG5rpzqYzg2Hd3szmPoj2cE7w5jWwShz3C1vyGSAk&#x60;), the response will include Object B and Object A.    **Notes**:   - If you set both &#x60;after&#x60; and &#x60;before&#x60;, an error will occur. - If you leave both &#x60;before&#x60; and &#x60;after&#x60; empty, the first page of data is returned. - If you set it to &#x60;infinity&#x60;, the last page of data is returned.  (optional)
     * @param after This parameter specifies an object ID as a starting point for pagination, retrieving data after the specified object relative to the current dataset.    Suppose the current data is ordered as Object A, Object B, and Object C. If you set &#x60;after&#x60; to the ID of Object A (&#x60;RqeEoTkgKG5rpzqYzg2Hd3szmPoj2cE7w5jWwShz3C1vyGSAk&#x60;), the response will include Object B and Object C.    **Notes**:   - If you set both &#x60;after&#x60; and &#x60;before&#x60;, an error will occur. - If you leave both &#x60;before&#x60; and &#x60;after&#x60; empty, the first page of data is returned.  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> The daily reconciliation statements. </td><td>  -  </td></tr>
        <tr><td> 4XX </td><td> Bad request. Your request contains malformed syntax or invalid parameters. </td><td>  -  </td></tr>
        <tr><td> 5XX </td><td> Internal server error. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listReconciliationStatementsAsync(LocalDate startDate, LocalDate endDate, String walletIds, String tokenIds, Integer limit, String before, String after, final ApiCallback<ListReconciliationStatements200Response> _callback) throws ApiException {

        okhttp3.Call localVarCall = listReconciliationStatementsValidateBeforeCall(startDate, endDate, walletIds, tokenIds, limit, before, after, _callback);
        Type localVarReturnType = new TypeToken<ListReconciliationStatements200Response>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
